In [2]:

import pandas as pd

def calc(user_data):
    max_timestamp = max(user_data, key=lambda d: int(d[-1]))[-1]
    min_timestamp = min(user_data, key=lambda d: int(d[-1]))[-1]
    return int(max_timestamp) - int(min_timestamp)

previous_user = None
user_data = []
lifetime = 0
users = 0
with open ('ml-latest-small/ratings.csv') as f:
    f.readline()
    for line in f:
        userId,movieId,rating,timestamp = line.strip().split(',')
        if previous_user:
            if userId == previous_user:
                user_data.append([userId, movieId, rating, timestamp])
            else:
                #print(user_data);
                if(len(user_data) >= 100):
                    lifetime += calc(user_data)
                    users += 1
                
                previous_user = userId
                user_data = [[userId, movieId, rating, timestamp]]
        else: 
            previous_user = userId
            user_data.append([userId, movieId, rating, timestamp])
            
    if(len(user_data) >= 100):
        lifetime += calc(user_data)
        users += 1
            
print(lifetime / users)

39331748.56653992

In [13]:

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)



air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)


client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

merged_air = pd.merge(client_base, air,how ='outer', on ='client_id')
merged_auto = pd.merge(merged_air,auto,how ='outer', on ='client_id')
merged_all = pd.merge(merged_auto,rzd,how ='outer', on ='client_id')

"""без указания адреса"""
merged_all.drop(['address'],axis=1)

"""с указанием адреса"""
merged_all

   client_id          address  air_revenue  auto_revenue  rzd_revenue
0        111  Комсомольская 4          NaN           NaN       1093.0
1        112   Энтузиастов 8а          NaN           NaN       2810.0
2        113  Левобережная 1а          NaN       57483.0      10283.0
3        114          Мира 14          NaN          83.0       5774.0
4        115        ЗЖБИиДК 1         81.0         912.0        981.0
5        116    Строителей 18          4.0        4834.0          NaN
6        117  Панфиловская 33         13.0          98.0          NaN
7        118     Мастеркова 4        173.0           NaN          NaN

К сожалению, я не до конца поняла задачу №3. Что имеется ввиду в вопросе №1, когда идёт речь о получении одного-двух чисел? Если речь идёт о том, как связывать между собой конкретные координаты и визиты - это можно делать по времени покупки. А так, координаты, это ведь всегда два числа - широта и долгота. 
В вопросе №2, соответственно, если я правильно поняла всё в первом вопросе ответ нет, никак не отразится. 
Вопрос №3 - Можно узнать район, где пользователь совершает покупки.
Пожалуйста, если это возможно, напишите комментарий, как нужно было рассуждать в этой задаче.